{% extends 'pages/base.html' %}

{% load staticfiles %}

{% block title %}Contact{% endblock %}

{% block stylesheetslast %}
{% endblock %}

{% block bodyblock %}
    <h1 style="text-align:center; font-size:3em;">Contact</h1>
    <div class="container" style="width: 80%" id="contact">
        <form role="form" action="" method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <label for="contact_name">Name</label>
                <input type="text" class="form-control" id="contact_name" name="contact_name" placeholder="Enter Your Name">
            </fieldset>

            <fieldset class="form-group">
                <label for="contact_email">Email address</label>
                <input type="email" class="form-control" id="contact_email" name="contact_email" placeholder="Enter email">
            </fieldset>

            <fieldset class="form-group">
                <label for="subject">Subject</label>
                <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject">
            </fieldset>

            <fieldset class="form-group">
                <label for="content">Message</label>
                <textarea class="form-control" id="content" name="content" rows="10"></textarea>
            </fieldset>

            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>


{% endblock %}