{% extends 'pages/base.html' %}

{% load staticfiles %}

{% block stylesheetsfirst %}
    <link href="{% static 'pages/css/reset-fonts-grids.css' %}" rel="stylesheet">
{% endblock %}

{% block stylesheetslast %}
    <link href="{% static 'pages/css/resume.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Resume{% endblock %}

{% block bodyblock %}

    <div class="container res" role="main">

        <div id="doc2" class="yui-t7">
	        <div id="inner">

		        <div id="hd">
			        <div class="yui-gc">
				        <div class="yui-u first">
					        <h1>Noah Muldavin</h1>
                            <h2>Renaissance Man, Cool Guy</h2>
				        </div>

				        <div class="yui-u">
					        <div class="contact-info" style="padding-left:100px">
						        <img src="{% static 'pages/images/professional.jpg' %}" width="130">
					        </div><!--// .contact-info -->
				        </div>
			        </div><!--// .yui-gc -->
		        </div><!--// hd -->

                <div id="bd">
                    <div id="yui-main">
                        <div class="yui-b">

                            <div class="yui-gf">
                                <div class="yui-u first">
                                    <h2>Profile</h2>
                                </div>
                                <div class="yui-u">
                                    <p class="enlarge">
                                        A dynamic individual with a quantitative background and a broad base of experience to tackle diverse challenges as they arise. Naturally curious with a knack for creative problem solving, has track record of quick self-study and strong independent work.
                                    </p>
                                </div>
                            </div><!--// .yui-gf -->

                            <div class="yui-gf">
                                <div class="yui-u first">
                                    <h2>Skills</h2>
                                </div>
                                <div class="yui-u">

                                    <div class="talent">
                                        <h2>Web Development</h2>
                                        <p>	Experienced in web development with React, Node, Django, and PostgreSQL. A quick and effective self-learner, can quickly catch on to any technical subject.</p>
                                    </div>

                                    <div class="talent">
                                        <h2>Math/Computation</h2>
                                        <p>Background in physics, statistics, mathematical modeling and parallel computing. Brings an ability to abstract and creatively solve difficult technical problems.</p>
                                    </div>

                                    <div class="talent">
                                        <h2>Teaching & Management</h2>
                                        <p>Teaching and curriculum development experience at the college level. Experience managing employees and tactfully resolving difficult situations.</p>
                                    </div>
                                </div>
                            </div><!--// .yui-gf -->

                            <div class="yui-gf">
                                <div class="yui-u first">
                                    <h2>Technical</h2>
                                </div>
                                <div class="yui-u">
                                    <ul class="talent">
                                        <li>Python</li>
                                        <li>React.js</li>
                                        <li>Django</li>
                                        <li>HTML/CSS</li>
                                        <li class="last">Git</li>
                                    </ul>

                                    <ul class="talent">
                                        <li>C++</li>
                                        <li>Node.js</li>
                                        <li>PostgreSQL</li>
                                        <li>WebGL</li>
                                        <li class="last">UNIX</li>
                                    </ul>

                                    <ul class="talent">
                                        <li>Javascript</li>
                                        <li>Browserify</li>
                                        <li>JQuery</li>
                                        <li>MPI</li>
                                        <li class="last">Word/Excel</li>
                                    </ul>
                                </div>
                            </div><!--// .yui-gf-->

                            <div class="yui-gf">

                                <div class="yui-u first">
                                    <h2>Experience</h2>
                                </div><!--// .yui-u -->

                                <div class="yui-u">

                                    <div class="job">
                                        <h2>Reed College, Portland OR</h2>
                                        <h3>Physics Laboratory Coordinator</h3>
                                        <h4>May 2014 - Present</h4>
                                        Currently runs the laboratory component of a college introductory physics course. This involves:
                                        <ul class="exp">
                                            <li>Teaching and facilitating 8 separate lab sections</li>
                                            <li>Training students in data analysis, experimental technique, and scientific writing</li>
                                            <li>Developing new experiments, writing and updating curriculum</li>
                                            <li>Managing and training student TAs</li>
                                            <li>Maintaining and organizing laboratory equipment</li>
                                        </ul>
                                    </div>

                                    <div class="job">
                                        <h2>Adler Planetarium, Chicago IL</h2>
                                        <h3>STEM Mentor and Presenter</h3>
                                        <h4>September 2013 - January 2014</h4>
                                        <ul class="exp">
                                            <li>Mentored a group of high school interns in scientific writing and research</li>
                                            <li>Facilitated scientific demonstrations and activities on the museum floor</li>
                                        </ul>
                                    </div>

                                    <div class="job">
                                        <h2>Reed College, Portland OR</h2>
                                        <h3>Research Assistant</h3>
                                        <h4>February 2012 - August 2013</h4>
                                        <ul class="exp">
                                            <li>Led research in computational methods of galactic astrophysics</li>
                                            <li>Developed and implemented a gravitational N-Body simulation in C++</li>
                                            <li>Conducted computational research on the evolution of disk galaxies</li>
                                            <li>Visualized and analyzed simulation results</li>
                                            <li>Rewrote code for easy use and parameter editing, wrote extensive documentation</li>
                                            <li>Upgraded code for easy use and wrote extensive documentation</li>
                                        </ul>
                                    </div>

                                    <div class="job">
                                        <h2>Reed College, Portland OR</h2>
                                        <h3>Head Tutor</h3>
                                        <h4>February 2011 - May 2013</h4>
                                        <ul class="exp">
                                            <li>Managed tutors in a tutoring center</li>
                                            <li>Tutored physics to college students</li>
                                        </ul>
                                    </div>


                                    <div class="job last">
                                        <h2>Sierra Club California, Sacramento CA</h2>
                                        <h3>Legislative Intern</h3>
                                        <h4>May 2010 - August 2010</h4>
                                        <ul class="exp">
                                            <li>Wrote supporting and opposing opinions, testified at legislative hearings</li>
                                            <li>Supported lobbyists with background research</li>
                                        </ul>
                                    </div>

                                </div><!--// .yui-u -->
                            </div><!--// .yui-gf -->


                            <div class="yui-gf last">
                                <div class="yui-u first">
                                    <h2>Education</h2>
                                </div>
                                <div class="yui-u">
                                    <h2>B.A. Physics, Reed College, May 2013</h2>
                                    <ul class="exp">
                                        <li>Thesis: The N-Body Simulation of Galaxy Dynamics</li>
                                        <li>Commendation for Acadmeic Excellence: 2010, 2013</li>
                                    </ul>
                                </div>
                            </div><!--// .yui-gf -->


                        </div><!--// .yui-b -->
                    </div><!--// yui-main -->
                </div><!--// bd -->

	        </div><!-- // inner -->


        </div>

    </div>





{% endblock %}