{% extends 'pages/base.html' %}

{% load staticfiles %}

{% block stylesheetslast %}
    <link src="{% static 'pages/css/canvas.css' %}" rel="stylesheet">
{% endblock %}


{% block bodyblock %}
    <div class="container" role="main">
        <div class="container bob">
            <div class="jumbotron" id="portfoliotop">
                <h1>WebGL Projects</h1>
                <p class="lead">I have been experimenting with webGL in an
                    attempt to build a webGL GPU-based N-body simulation you can play with in your browser.
                    My most recent project is a visualization of the Mandlebrot set that is calculated live with a fragment shader in your browser.
                </p>
            </div>
        </div>
    </div>

    <div style="text-align:center; width:100%">
        <canvas id="c"></canvas>
    </div>
    <style>
      canvas {
        width: 80%;
        height: 80%;
      }
      #b {
        position: absolute;
        top: 10px;
        width: 100%;
        text-align: center;
        z-index: 2;
      }
    </style>
{% endblock %}


{% block end %}
<script id="vs" type="notjs">
    attribute vec4 position;

    void main() {
      gl_Position = position;
    }
  </script>


  <script id="fs" type="notjs">
    precision mediump float;
    uniform float scale;
    uniform vec2 mouse;
    uniform vec2 origin;
    uniform vec2 resolution;
    uniform float time;

    vec2 CenterandScale(vec2 pos, vec2 res) {
        pos.x = pos.x - 0.5*res.x;
        pos.y = pos.y - 0.5*res.y;
        return pos;
    }

    void main() {
      gl_FragColor = vec4(0, 0, 0, 1);
      vec2 uv = gl_FragCoord.xy;
      uv = CenterandScale(uv, resolution) - mouse.xy/scale;
      uv = 2.0*scale*uv/min(resolution.x, resolution.y);

      vec2 z = uv;

      for(int i=0; i < 200; i++) {
        z = uv + vec2(
            z.x*z.x - z.y*z.y,
            2.0*z.x*z.y
        );

        float l = length(z);
        if (l > 4.0) {
            break;
        }
        float ifloat = float(i);
        gl_FragColor = vec4(ifloat/200.0, ifloat/200.0, ifloat/200.0, 1);
      }


    }
  </script>
  <script src="{% static 'pages/js/twgl.min.js' %}"></script>
  <script>
    "use strict";
    var gl = twgl.getWebGLContext(document.getElementById("c"));
    var programInfo = twgl.createProgramInfo(gl, ["vs", "fs"]);



    var arrays = {
      position: [-1, -1, 0, 1, -1, 0, -1, 1, 0, -1, 1, 0, 1, -1, 0, 1, 1, 0]
    };
    var bufferInfo = twgl.createBufferInfoFromArrays(gl, arrays);

    var canvas = document.getElementById("canvas");
    var scale = 1.0;
    var originx = 0;
    var originy = 0;
    var mousex = 0.0;
    var mousey = 0.0;
    var conx = 0.0;
    var cony = 0.0;

    c.onmousewheel = function (event){

      var wheel = event.wheelDelta/120;//n or -n

      var zoom = 1 + wheel/2;

      scale *= zoom;
        if (event.preventDefault) //disable default wheel action of scrolling page
        event.preventDefault()
    }

    function getPosition(element) {
        var xPosition = 0;
        var yPosition = 0;

        while(element) {
            xPosition += (element.offsetLeft - element.scrollLeft + element.clientLeft);
            yPosition += (element.offsetTop - element.scrollTop + element.clientTop);
            element = element.offsetParent;
        }
        return { x: xPosition, y: yPosition };
    }

    c.onmousemove = function (event) {
        var offset = getPosition(c);
        mousex = event.clientX - offset.x;
        mousey = event.clientY - offset.y;
        mousex = (mousex - 0.5*gl.canvas.width);
        mousey = (0.5*gl.canvas.height - mousey);

    }
    function render(time) {

      twgl.resizeCanvasToDisplaySize(gl.canvas);
      gl.viewport(0, 0, gl.canvas.width, gl.canvas.height);
      var uniforms = {
        time: time * 0.001,
        resolution: [gl.canvas.width, gl.canvas.height],
        mouse: [mousex, mousey],
        origin: [originx, originy],
        scale: scale,
      };
      gl.useProgram(programInfo.program);
      twgl.setBuffersAndAttributes(gl, programInfo, bufferInfo);
      twgl.setUniforms(programInfo, uniforms);
      twgl.drawBufferInfo(gl, gl.TRIANGLES, bufferInfo);

      requestAnimationFrame(render);
    }
    requestAnimationFrame(render);
  </script>
{% endblock %}